{extend name="public/base" /}

{block name="body"}
    <div class="main-title">
        <h2>{:isset($info['id'])?'编辑':'新增'}后台菜单</h2>
    </div>
    <form action="{:url()}" method="post" class="form-horizontal" enctype="multipart/form-data">
        <div class="form-item">
            <label class="item-label">标题<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="title" value="{$info.title|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">图片<span class="check-tips"></span></label>
            <div class="controls">
                <input type="file" class="text input-large" name="img" value="{$info.img|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">租售状态<span class="check-tips"></span></label>
        <label class="radio">

            <input type="radio" name="static" value="1" {if condition="$info.static" } checked {/if} />售
            <input type="radio" name="static" value="0" {if condition="!$info.static" } checked {/if} />租
        </label>
        </div>
        <div class="form-item">
            <label class="item-label">价格<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="price" value="{$info.price|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">电话<span class="check-tips"></span></label>
            <div class="controls">
                <input type="text" class="text input-large" name="phone" value="{$info.phone|default=''}">
            </div>
        </div>
        <div class="form-item">
            <label class="item-label">简介<span class="check-tips"></span></label>
            <label class="textarea" id="content">
                <textarea name="introduce">{$info.introduce|default=''}</textarea>

            </label>

        </div>
        <div class="form-item">
            <input type="hidden" name="id" value="{$info.id|default=''}">
            <button class="btn submit-btn ajax-posts" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
        </div>
    </form>
{/block}

{block name="script"}
    <script type="text/javascript">
        Think.setValue("pid", {$info.pid|default = 0});
        Think.setValue("hide", {$info.hide|default = 0});
        Think.setValue("is_dev", {$info.is_dev|default = 0});
        //导航高亮
        highlight_subnav('{:url('rentIndex')}');
    </script>
{/block}